{% extends '_no_navbar_base.html.twig' %}

{% block title %}{{ parent() }} - Doc API{% endblock %}

{% block body %}
    {# TODO documentation de l'API #}
    <article>
        <h2>API - CSV Data Store</h2>
        <p>documentation de l'API</p>
    </article>
{% endblock %}